body {
  padding: 0;
  margin: 0;
  font-size: 16px;
  height: 100vh;
  overflow-y: scroll;
}

header {
  display: flex;
  justify-content: end;
  height: 74px;
  background: #fff url(./assets/image_geometry_1.png) no-repeat;
  padding: 0 19px;
}

#menu-icon {
  position: absolute;
  top: 19px;
  right: 19px;
}

main {
  height: auto;
}

#headline {
  min-height: 566px;
  display: flex;
  flex-direction: column;
  padding: 0 19px;
  background: #fff url(./assets/image_geometry_2.png) center bottom no-repeat;
  background-clip: border-box;
  background-origin: border-box;
  color: #1a2236;
}

.headings {
  font-family: "Playfair Display", serif;
  font-size: 50px;
  line-height: 100%;
  font-weight: 400;
  font-style: normal;
  width: 220px;
  height: auto;
  margin-bottom: 5%;
}

main > section > p {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  letter-spacing: -0.01em;
  margin-bottom: 40px;
  margin-top: 0;
}

.card button {
  font-family: "Poppins", sans-serif;
  border: 1px solid #fff;
  width: 178px;
  height: 44px;
  background: #1a2236 url(./assets/Union.png) right center no-repeat;
  background-clip: content-box;
  background-origin: content-box;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #fff;
  text-align: left;
  padding: 0 10px;
}

.primary {
  font-family: "Poppins", sans-serif;
  color: #fff;
  display: block;
  height: 50px;
  background: #1a2236;
  font-weight: 500;
  font-size: 16px;
  border: none;
}

#projects,
#about-me {
  font-family: "Poppins", sans-serif;
  height: 100%;
  display: grid;
  grid-template-columns: 320px;
  justify-content: center;
}

#projects > h2 {
  margin-bottom: 7%;
}

.card {
  font-family: "Poppins", sans-serif;
  display: flex;
  flex-direction: column;
}

.card ul {
  list-style: none;
  padding: 0;
  margin: 19px 0;
}

.card > section {
  background: #1a2236;
  border: 0.333333px solid rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(1px);
  padding: 19px;
}

.card > section h3 {
  font-weight: 300;
  font-style: normal;
  font-size: 20px;
  line-height: 80%;
  color: #fff;
  margin: 0;
}

.card ul > li {
  display: inline;
  background: #98dede;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-size: 10px;
  font-weight: 300;
  line-height: 80%;
  color: #1a2236;
  padding: 5px 10px;
  margin-right: 5px;
}
