body {
  padding: 0;
  margin: 0;
  font-size: 16px;
}

header {
  display: flex;
  justify-content: end;
  height: 74px;
  background: #fff url(./assets/image_geometry_1.png) no-repeat;
  padding: 0 19px;
}

#menu-icon {
  position: absolute;
  top: 19px;
}

#timeline {
  display: flex;
  flex-direction: column;
  padding: 0 19px;
}

#timeline > h1 {
  font-family: "Playfair Display", serif;
  font-size: 50px;
  line-height: 50px;
  font-weight: normal;
  font-style: normal;
}
